<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FileList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/res/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="/res/css/filelist.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/res/js/filelistShowhidden.js"></script>
</head>
<body>
<nav id="filemenu" class="navbar navbar-fixed-top">
    <div id="buttonMenu" class="btn-group btn-group-justified">
        <a id="searchFilesButton" data-toggle="collapse" data-target="#searchForm" class="btn btn-primary"
           onclick="doUnhide()">
            <th th:text="#{fileslistpage.searchbutton}"/>
            <span class="glyphicon glyphicon-search"/>
        </a>
        <a th:href="${sortingParameter.equals('alternative')}? @{/fileapi/filelist(for=${session.filesQuantity},show=0,sort='alternative',ascend=${!session.filesAscend})} : @{/fileapi/filelist(for=${session.filesQuantity},show=0,sort='alternative',ascend='true')}"
           id="sortByAlternative" class="btn btn-primary">
            <th th:text="#{fileslistpage.sortfilenamebutton}"/>
            <span id="alternativeCaret" th:if="${sortingParameter.equals('alternative')}"
                  th:class="${ascendParameter}? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'"/></a>
        <a th:href="${sortingParameter.equals('author.fullname')}? @{/fileapi/filelist(for=${session.filesQuantity},show=0,sort='author.fullname',ascend=${!session.filesAscend})} : @{/fileapi/filelist(for=${session.filesQuantity},show=0,sort='author.fullname',ascend='true')}"
           id="sortByAuthor" class="btn btn-primary">
            <th th:text="#{fileslistpage.sortauthorbutton}"/>
            <span id="authorCaret" th:if="${sortingParameter.equals('author.fullname')}"
                  th:class="${ascendParameter}? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'"/></a>
        <a th:href="${sortingParameter.equals('extension')}? @{/fileapi/filelist(for=${session.filesQuantity},show=0,sort='extension',ascend=${!session.filesAscend})} : @{/fileapi/filelist(for=${session.filesQuantity},show=0,sort='extension',ascend='true')}"
           id="sortByType" class="btn btn-primary">
            <th th:text="#{fileslistpage.sorttypebutton}"/>
            <span id="extensionCaret" th:if="${sortingParameter.equals('extension')}"
                  th:class="${ascendParameter}? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'"/></a>
        <a th:href="${sortingParameter.equals('id')}? @{/fileapi/filelist(for=${session.filesQuantity},show=0,sort='id',ascend=${!session.filesAscend})} : @{/fileapi/filelist(for=${session.filesQuantity},show=0,sort='id',ascend='true')}"
           id="sortByUploadedDate" class="btn btn-primary">
            <th th:text="#{fileslistpage.sortuploaddatebutton}"/>
            <span id="uploaddateCaret" th:if="${sortingParameter.equals('id')}"
                  th:class="${ascendParameter}? 'glyphicon glyphicon-sort-by-order' : 'glyphicon glyphicon-sort-by-order-alt'"/></a>

        <div class="btn-group dropdown">
            <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <th th:text="#{fileslistpage.changefilesquantity}"/>
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a th:href="@{/fileapi/filelist(for=2,show=${offset},sort=${session.filesSortParameter},ascend=${session.filesAscend})}">2</a>
                </li>
                <li>
                    <a th:href="@{/fileapi/filelist(for=5,show=${offset},sort=${session.filesSortParameter},ascend=${session.filesAscend})}">5</a>
                </li>
                <li>
                    <a th:href="@{/fileapi/filelist(for=10,show=${offset},sort=${session.filesSortParameter},ascend=${session.filesAscend})}">10</a>
                </li>
            </ul>
        </div>
    </div>

    <span id="searchForm" class="collapse">
        <form method="POST" th:action="@{/fileapi/search}">
        <div class="col-sm-8">
            <input type="text" name="searchString" class="form-control" th:placeholder="#{fileslistpage.searchlabel}"
                   autofocus="true"/>
        </div>
        <div class="col-sm-4">
            <input type="submit" class="btn btn-success" value="Sign In" th:value="#{fileslistpage.searchformbutton}"/>
        </div>
        </form>
    </span>
</nav>


<div class="col-sm-12" style="margin-top:50px">
    <table th:each="fileitem : ${filesList}" class="table table-striped table-hover fileRowSection">
        <tbody>
        <tr class="active">
            <td><div class="fileContentSection">
                    <p th:text="#{fileslistpage.sortfilenamebutton}+': '+${fileitem.alternative}"/>
                    <p th:text="#{fileslistpage.sorttypebutton}+': '+${fileitem.extension}"/>
                    <p th:text="#{fileslistpage.sortuploaddatebutton}+': '+${#calendars.format(fileitem.uploadDate, 'dd MMM yyyy HH:mm')}"/>
                    <p th:text="#{fileslistpage.sortauthorbutton}+': '+${fileitem.author.fullname}"/>
                    <img th:src="${'/dynamic/'+fileitem.filename}" th:alt="${fileitem.alternative}"
                         height="100"/></div></td>
        </tr>
        </tbody>
    </table>
</div>

<div id="paginationContainer">
    <ul id="navsection" class="pagination" th:each="pageitem : ${pagesCollection.getPages()}">
        <li th:class="${pageitem.isDisabled()}? 'disabled' : (__${pageitem.isActive()}__? 'active')">
            <a th:href="@{/fileapi/filelist(for=${pageitem.getQuantity()},show=${pageitem.getOffset()},sort=${pageitem.getSort()},ascend=${pageitem.isAscend()})}">
                <th th:text="${digitMatch.match({pageitem.getPageIndex()})}? ${pageitem.getPageIndex()} : (${pageitem.getPageIndex() == 'first'}? #{fileslistpage.firstbutton} : #{fileslistpage.lastbutton})"/>
            </a></li>
    </ul>
</div>

</body>
</html>