<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>File Search</title>
    <link href="/res/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="btn-group btn-group-justified">
    <a th:href="@{/fileapi/filelist(for=${quantity},show=0,sort=${sort},ascend=${ascend})}" class="btn btn-primary"><th th:text="#{filessearchpage.returnbutton}"/></a>
</div>

<div class="col-sm-12">
    <table th:each="fileitem : ${filesList}">
        <tr>
            <div id="fileContentSection">
                <p th:text="#{fileslistpage.sortfilenamebutton}+': '+${fileitem.alternative}"/>
                <p th:text="#{fileslistpage.sorttypebutton}+': '+${fileitem.extension}"/>
                <p th:text="#{fileslistpage.sortuploaddatebutton}+': '+${#calendars.format(fileitem.uploadDate, 'dd MMM yyyy HH:mm')}"/>
                <p th:text="#{fileslistpage.sortauthorbutton}+': '+${fileitem.author.fullname}"/>
                <img th:src="${'/dynamic/'+fileitem.filename}" th:alt="${fileitem.alternative}"
                     height="100"/>
            </div>
        </tr>
    </table>
</div>

</body>
</html>