<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Добавте сюда описание сайта" />
<meta  name="keywords" content="Первое ключевое слово, второе ключевое слово," />
<title>
TemplateToaster.com
</title>
<link rel="stylesheet"  href="css/bootstrap.css" type="text/css" media="all"/>
<link rel="stylesheet"  href="css/style.css" type="text/css" media="screen"/>
<script type="text/javascript" src="js/prefixfree.min.js"></script>
<script type="text/javascript" src="js/totop.js"></script>
</head>

<body class="index">
  <div class="header">
    <div class="navbar navbar-fixed-top">
      <nav>

      </nav>
    </div>
  </div>

<div class="content">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8">.col-sm-4 .col-sm-push-8</div>
    <div class="col-sm-8 col-sm-pull-4">.col-sm-8 .col-sm-pull-4</div>
  </div>
</div>

<footer></footer>
</body>

</html>
