<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fileupload</title>
    <link href="/res/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="/res/css/uploadfiles.css" rel="stylesheet"/>
</head>
<body>
<p data-th-text="#{filespage.uploadfilemessage}"/><br/>
<label class="file_upload">
    <button type="button" class="button btn btn-primary" th:value="#{filespage.choosefilebutton}"></button>
    <mark th:value="#{filespage.filenotchoosed}">Файл не выбран</mark>
    <input type="file" name="file"/>
    <input type="submit" th:value="#{filespage.uploadbutton}" class="btn btn-default btn-block"/>
</label>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/res/js/uploadfiles.js"></script>
</body>
</html>