<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FileList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="filemenu">
    <button id="searchFilesButton" class="btn btn-primary" th:value="#{fileslistpage.searchbutton}"/>
    <button id="sortByFilename" class="btn btn-primary" th:value="#{fileslistpage.sortfilenamebutton}"/>
    <button id="sortByAuthor" class="btn btn-primary" th:value="#{fileslistpage.sortauthorbutton}"/>
    <button id="sortByUploadedDate" class="btn btn-primary" th:value="#{fileslistpage.sortuploaddatebutton}"/>
    <button id="changeFilesQuantity" class="btn btn-primary" th:value="#{fileslistpage.sortuploaddatebutton}"/>
    <a href="/registration">Create an account</a>
</div>

<table th:each="fileitem : ${filesList}">
    <tr>
        <div id="fileContentSection">
            <p th:text="#{filespage.showfilename}+': '+${fileitem.alternative}"/>
            <p th:text="#{filespage.showfiletype}+': '+${fileitem.extension}"/>
            <p th:text="#{filespage.showfileuploadeddate}+': '+${#calendars.format(fileitem.uploadDate, 'dd MMM yyyy HH:mm')}"/>
            <p th:text="#{filespage.showfileauthor}+': '+${fileitem.author.fullname}"/>
            <img th:src="${'/dynamic/'+fileitem.filename}" th:alt="${fileitem.alternative}"
                 height="100"/>
        </div>
    </tr>
</table>

<div id="navsection">

</div>
</body>
</html>